body {
    
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);

    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    margin:auto;
    text-align: center;
    width: 800px;
    color:white;
}

#container {
    width: 80%;
    background-color:rgb(48, 52, 54);
    margin:auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color:white;

    display: flex;
    
}

#info {
    flex: 1;
    border : 0px solid yellow;
    margin-right: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color:#116e48;
}

#drawColour {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
}
#drawColour::-webkit-color-swatch {
  border-radius: 50%;
  border: 5px solid #000000;    
}
#drawColour::-moz-color-swatch {
  border-radius: 50%;
  border: 7px solid #000000;
}

.slider {
    -webkit-appearance: none;
    width: 260px;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity:1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #6DFC6B;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

#textInfo {
    margin-top: 10px;
    margin-bottom:10px;
}

#grid {
    
    border: 0px solid rgb(9, 99, 44);
    width: 100%;
    height: 600px;
    margin:auto;
    flex:3;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    
    
    
}
.square {
    
    border: 1px solid rgb(78, 76, 76);
    margin:0px;
    padding:0px;
    flex:1;
    
    
}

#drawing {
    font-size: 18px;
    opacity: 10%;
}