body {
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 650px;
    background-color:rgb(2, 49, 16);
    margin:auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color:white;
    
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top:-10px;
    margin-bottom: 10px;
    color:white;
}

#container button {
    width : 120px;
    height: 25px;
    border-radius: 5px;
    background-color: brown;
    border:1px solid white;
    color: white;
    
    font-family: 'Courier New', Courier, monospace;
}

#container button:hover {
    background-color: darkred;
}

#textInfo {
    margin-top: 10px;
    margin-bottom:10px;
}

#grid {
    
    border: 0px solid rgb(9, 99, 44);
    width: 600px;
    height: 600px;
    margin:auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    width:100%;
    
    
}
.square {
    /*height:20px;
    width:20px;*/
    border: 1px solid darkgreen;
    margin:0px;
    padding:0px;
    flex:1;
    
    
}

.colours {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.colourBlock {
    height:15px;
    width:15px;
    margin-right: 6px;
}

.colourBlock:hover {
    border:1px solid white;
    height:13px;
    width:13px;
    
}