body {
    background-color: gray;
}

#grid {
    display: flex;
    border: 0px solid red;
    
}

.row {

}

.square {
    height:10px;
    width:10px;
    border: 1px solid darkgray;
    margin:0px;
    padding:0px;
    flex-basis: 0.613496933%;
}

.square:hover {
    background-color:blue;
}